[Unit]
Description=Traefik server
After=network.target
Wants=network.target

[Service]
ExecStart=/opt/traefik/current/traefik -c /etc/traefik/traefik.yml

Restart=always
RestartSec=20
TimeoutSec=300
User=root
Group=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
