global:
  checkNewVersion: true
  sendAnonymousUsage: true

# EntryPoints definition
{{ traefik__entrypoints | to_yaml }}

providers:
  file:
    directory: "/etc/traefik"

# Traefik logs
log:
  level: INFO
  format: common

# Access logs
accessLog:
  format: common

# Enable API and dashboard
api:
  insecure: true
  dashboard: true
